<!DOCTYPE html>
<html>
<head>
  <title>IamExtactor</title>
  <link rel="stylesheet" type="text/css" href="assets/index.css">
</head>
<body>
<div class="btn-animate">
  <a id="extract-now" href="#">Extact Now</a>
</div>
<script src="assets/jquery.min.js"></script>
<script src="assets/index.js.coffee"></script>
<script>
  $(document).ready(function () {
    window.initializeMain();
  });
</script>
</body>
</html>